<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team</title>
  </head>
  <body>
    <h1><%= @team.name %></h1>
<p>Team Motto: <%= @team.motto %><br>

Hero Name: <%= @hero1.name %><br>
Hero Power: <%= @hero1.power %><br>
Hero Biography: <%= @hero1.bio %><br>
Hero Name: <%= @hero2.name %><br>
Hero Power: <%= @hero2.power %><br>
Hero Biography: <%= @hero2.bio %><br>
Hero Name: <%= @hero3.name %><br>
Hero Power: <%= @hero3.power %><br>
Hero Biography: <%= @hero3.bio %><br>
  </body>
</html>
